/* Variáveis globais para facilitar o uso das cores */
:root {
  --verde-clinica: #1B5E20;
  --verde-claro: #E8F5E9;
  --azul-hospitalar: #00579B;
  --cinza-fundo: #F4F7F6;
  --branco: #ffffff;
}

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: var(--cinza-fundo);
}